<div id="rro"></div>
<div class="yrv-tree-select-place-widget" id="yrv-tree-select-place-widget-{{ field_name }}">
    <div class="yrv-tree-select-place-left">
        <select name="sel_countries_place">
        </select>
        <div class="yrv-tree-select-place-tree" id="yrv-tree-select-place-{{ field_name }}">
        </div>
    </div>
    <div class="yrv-tree-select-place-buttons">
        <button class="yrv-button-add-place">
            {% trans %}
            Add a sacred place
            {% endtrans %}
        </button>
        <button class="yrv-button-remove-place">
            {% trans %}
            Remove a sacred place
            {% endtrans %}
        </button>
    </div>
    <div class="yrv-tree-select-place-listbox">
        <select name="sel_places" size="10">
        </select>
    </div>
</div>