<div class="yrv-multi-date-widget" id="yrv-multi-date-widget-{{ field_name }}">
  <div class="yrv-multi-date-calendar">
  </div>
  <div class="yrv-multi-date-buttons">
    <button class="yrv-multi-date-button-add-date">
      {% trans %}
      Add date
      {% endtrans %}
    </button>
    <button class="yrv-multi-date-button-remove-date">
      {% trans %}
      Remove date
      {% endtrans %}
    </button>
  </div>
  <div class="yrv-multi-date-listbox">
    <select name="sel_advert_dates" size="10">
    </select>
  </div>
</div>